/* Write some CSS below */
body {
	font-family: 'Montserrat', sans-serif;
	color: #404042;
	font-size: 18px;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

#banner	{

}


#card_group {

}


.cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;

}

#footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

#footer p {
  color: white;
}

